<p>
  <%= form_with model: [@article, @article.comments.build] do | form | %>
    <div>
      <%= form.label :commentor %><br>
      <%= form.text_field :commentor %>
    </div>
    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</p>